<div class="col-md-12">
  <div class="row cart-container">
    <div class="col-md-1"></div>
    <div class="col-md-4 cart-details">
      <span class="text-left">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true" placement="top"
           ngbTooltip="My cart"></i>
      </span>
      <span class="clear-cart-icon">
        <i class="fa fa-trash-o fa-2x" aria-hidden="true" placement="top"
           ngbTooltip="Clear cart" (click)="clearCart()"></i>
        </span>
      <hr>
      <span *ngIf="cart.products.length ===0">You have no items in your cart.</span>
      <table *ngIf="cart.products.length !==0" class="cart-table table table-hover table-bordered text-center">
        <tbody>
        <tr *ngFor="let cartItem of cart.products">
          <td class="cart-product-count">{{cartItem.quantity}}</td>
          <td>{{cartItem.item.title}}</td>
          <td>{{cartItem.item.price}} <span><i class="fa fa-usd" aria-hidden="true"></i></span></td>
        </tr>
        </tbody>
      </table>
      <hr>
      <b>TOTAL :</b> <span class="cart-total">{{cart.total}} <i class="fa fa-usd" aria-hidden="true"></i></span>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 payment-container">
      <i class="fa fa-cc-mastercard  fa-2x" aria-hidden="true" placement="top"
         ngbTooltip="mastercard"></i>
      <i class="fa fa-cc-visa  fa-2x" aria-hidden="true" placement="top"
         ngbTooltip="visa"></i>
      <i class="fa fa-cc-paypal  fa-2x" aria-hidden="true" placement="top"
         ngbTooltip="paypal"></i>
      <hr>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
