.badge-category-count {
  float: left;
  background-color: #afbed1;
  margin-right: 1%;
  margin-top: 1%;
}

.category-name:hover {
  cursor: pointer;
  background-color: #90f5ff;
  color: #FFFFFF;
}

.category-container-spinner {
  margin-top: 30%;
}

.category-arrow {
  float: right;
}
