<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
        <a class="navbar-brand" routerLink="/home">eShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home"><i class="fa fa-home fa-2x" aria-hidden="true"></i> <span
                class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"><i id="social-fb" class="fa fa-facebook-square fa-2x social"
                                                        aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"><i id="social-tw" class="fa fa-twitter-square fa-2x social"
                                                        aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"
                                                        aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"><i id="social-em" class="fa fa-envelope-square fa-2x social"
                                                        aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <i  routerLink="/cart" class="home-shopping-cart fa fa-shopping-cart fa-2x" aria-hidden="true" placement="bottom"
             ngbTooltip="My cart"></i>
        </form>
      </nav>

      <router-outlet></router-outlet>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</div>
