<div class="product-card card">
  <img class="card-img-top" src="../assets/holder-318-180.svg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title text-center">{{product.title}}</h4>
    <p class="card-text">{{product.description}}</p>
    <a href="/product-details/{{product.id}}" class="btn btn-primary text-center"><i class="fa fa-external-link" aria-hidden="true"></i></a>
    <span class="product-price">{{product.price}} <i class="fa fa-usd" aria-hidden="true"></i></span>
  </div>
</div>
