<div class="product-card card">
  <img class="card-img-top" src="./assets/holder-318-180.svg" alt="Card image cap">
  <div class="card-block">
    <p class="card-title text-center"><b>{{product.title}}</b></p>
    <div class="text-center">
      <ngb-rating  [(rate)]="product.rate" [readonly]="true"></ngb-rating>
    </div>
    <p class="card-text product-description">{{product.description}}</p>
    <a routerLink="/product-details/{{product.id}}" class="btn btn-primary text-center product-details-link"><i
      class="fa fa-external-link" aria-hidden="true"></i></a>
    <span class="product-price">{{product.price}} <i class="fa fa-usd" aria-hidden="true"></i></span>
  </div>
</div>
